{{! Detailed instructions can be found in the Documentation >> Activation >> Social accounts }}

{{! RSS }}
{{!-- <a href="/rss">{{>icons/social/rss}}</a> --}}

{{! Adobe Creative Cloud }}
{{!-- <a href="#">{{>icons/social/adobecreativecloud}}</a> --}}
{{! Airbnb }}
{{!-- <a href="#">{{>icons/social/airbnb}}</a> --}}
{{! Amazon }}
{{!-- <a href="#">{{>icons/social/amazon}}</a> --}}
{{! Android }}
{{!-- <a href="#">{{>icons/social/android}}</a> --}}
{{! AngelList }}
{{!-- <a href="#">{{>icons/social/angellist}}</a> --}}
{{! Angular }}
{{!-- <a href="#">{{>icons/social/angular}}</a> --}}
{{! Apple }}
{{!-- <a href="#">{{>icons/social/apple}}</a> --}}
{{! Apple Music }}
{{!-- <a href="#">{{>icons/social/applemusic}}</a> --}}
{{! Apple Pay }}
{{!-- <a href="#">{{>icons/social/applepay}}</a> --}}
{{! Asana }}
{{!-- <a href="#">{{>icons/social/asana}}</a> --}}
{{! Atlassian }}
{{!-- <a href="#">{{>icons/social/atlassian}}</a> --}}
{{! Baidu }}
{{!-- <a href="#">{{>icons/social/baidu}}</a> --}}
{{! BandCamp }}
{{!-- <a href="#">{{>icons/social/bandcamp}}</a> --}}
{{! Basecamp }}
{{!-- <a href="#">{{>icons/social/basecamp}}</a> --}}
{{! Behance }}
{{!-- <a href="#">{{>icons/social/behance}}</a> --}}
{{! Big Cartel }}
{{!-- <a href="#">{{>icons/social/bigcartel}}</a> --}}
{{! Bitcoin }}
{{!-- <a href="#">{{>icons/social/bitcoin}}</a> --}}
{{! Bitbucket }}
{{!-- <a href="#">{{>icons/social/bitbucket}}</a> --}}
{{! Bitly }}
{{!-- <a href="#">{{>icons/social/bitly}}</a> --}}
{{! Blogger }}
{{!-- <a href="#">{{>icons/social/blogger}}</a> --}}
{{! Bower }}
{{!-- <a href="#">{{>icons/social/bower}}</a> --}}
{{! Buffer }}
{{!-- <a href="#">{{>icons/social/buffer}}</a> --}}
{{! Buy me a coffee }}
{{!-- <a href="#">{{>icons/social/buymeacoffee}}</a> --}}
{{! BuzzFeed }}
{{!-- <a href="#">{{>icons/social/buzzfeed}}</a> --}}
{{! CashApp }}
{{!-- <a href="#">{{>icons/social/cashapp}}</a> --}}
{{! Castro }}
{{!-- <a href="#">{{>icons/social/castro}}</a> --}}
{{! Codecov }}
{{!-- <a href="#">{{>icons/social/codecov}}</a> --}}
{{! CodeIgniter }}
{{!-- <a href="#">{{>icons/social/codeigniter}}</a> --}}
{{! CodePen }}
{{!-- <a href="#">{{>icons/social/codepen}}</a> --}}
{{! Codewars }}
{{!-- <a href="#">{{>icons/social/codewars}}</a> --}}
{{! Dailymotion }}
{{!-- <a href="#">{{>icons/social/dailymotion}}</a> --}}
{{! Debian }}
{{!-- <a href="#">{{>icons/social/debian}}</a> --}}
{{! Deezer }}
{{!-- <a href="#">{{>icons/social/deezer}}</a> --}}
{{! Delicious }}
{{!-- <a href="#">{{>icons/social/delicious}}</a> --}}
{{! DeviantArt }}
{{!-- <a href="#">{{>icons/social/deviantart}}</a> --}}
{{! Diaspora }}
{{!-- <a href="#">{{>icons/social/diaspora}}</a> --}}
{{! Digg }}
{{!-- <a href="#">{{>icons/social/digg}}</a> --}}
{{! Discord }}
{{!-- <a href="#">{{>icons/social/discord}}</a> --}}
{{! Discourse }}
{{!-- <a href="#">{{>icons/social/discourse}}</a> --}}
{{! Disqus }}
{{!-- <a href="#">{{>icons/social/disqus}}</a> --}}
{{! Django }}
{{!-- <a href="#">{{>icons/social/django}}</a> --}}
{{! Dribbble }}
{{!-- <a href="#">{{>icons/social/dribbble}}</a> --}}
{{! Dropbox }}
{{!-- <a href="#">{{>icons/social/dropbox}}</a> --}}
{{! DTube }}
{{!-- <a href="#">{{>icons/social/dtube}}</a> --}}
{{! Envato }}
{{!-- <a href="#">{{>icons/social/envato}}</a> --}}
{{! Etsy }}
{{!-- <a href="#">{{>icons/social/etsy}}</a> --}}
{{! Evernote }}
{{!-- <a href="#">{{>icons/social/evernote}}</a> --}}
{{! Everplaces }}
{{!-- <a href="#">{{>icons/social/everplaces}}</a> --}}
{{! Feedly }}
{{!-- <a href="#">{{>icons/social/feedly}}</a> --}}
{{! Figma }}
{{!-- <a href="#">{{>icons/social/figma}}</a> --}}
{{! Flickr }}
{{!-- <a href="#">{{>icons/social/flickr}}</a> --}}
{{! Flipboard }}
{{!-- <a href="#">{{>icons/social/flipboard}}</a> --}}
{{! Framer }}
{{!-- <a href="#">{{>icons/social/framer}}</a> --}}
{{! Foursquare }}
{{!-- <a href="#">{{>icons/social/foursquare}}</a> --}}
{{! Gatsby }}
{{!-- <a href="#">{{>icons/social/gatsby}}</a> --}}
{{! Ghost }}
{{!-- <a href="#">{{>icons/social/ghost}}</a> --}}
{{! Git }}
{{!-- <a href="#">{{>icons/social/git}}</a> --}}
{{! GitHub }}
{{!-- <a href="#">{{>icons/social/github}}</a> --}}
{{! GitLab }}
{{!-- <a href="#">{{>icons/social/gitlab}}</a> --}}
{{! GNU Social }}
{{!-- <a href="#">{{>icons/social/gnusocial}}</a> --}}
{{! GoldenLine }}
{{!-- <a href="#">{{>icons/social/goldenline}}</a> --}}
{{! Google Allo }}
{{!-- <a href="#">{{>icons/social/googleallo}}</a> --}}
{{! Google Analytics }}
{{!-- <a href="#">{{>icons/social/googleanalytics}}</a> --}}
{{! Google Drive }}
{{!-- <a href="#">{{>icons/social/googledrive}}</a> --}}
{{! Google Gmail }}
{{!-- <a href="#">{{>icons/social/gmail}}</a> --}}
{{! Google Pay }}
{{!-- <a href="#">{{>icons/social/googlepay}}</a> --}}
{{! Google Play }}
{{!-- <a href="#">{{>icons/social/googleplay}}</a> --}}
{{! Google Plus }}
{{!-- <a href="#">{{>icons/social/googleplus}}</a> --}}
{{! Google Podcasts }}
{{!-- <a href="#">{{>icons/social/googlepodcasts}}</a> --}}
{{! Gravatar }}
{{!-- <a href="#">{{>icons/social/gravatar}}</a> --}}
{{! Groupon }}
{{!-- <a href="#">{{>icons/social/groupon}}</a> --}}
{{! Gulp }}
{{!-- <a href="#">{{>icons/social/gulp}}</a> --}}
{{! Gumroad }}
{{!-- <a href="#">{{>icons/social/gumroad}}</a> --}}
{{! Gumtree }}
{{!-- <a href="#">{{>icons/social/gumtree}}</a> --}}
{{! HackerRank }}
{{!-- <a href="#">{{>icons/social/hackerrank}}</a> --}}
{{! Heroku }}
{{!-- <a href="#">{{>icons/social/heroku}}</a> --}}
{{! Hipchat }}
{{!-- <a href="#">{{>icons/social/hipchat}}</a> --}}
{{! Hootsuite }}
{{!-- <a href="#">{{>icons/social/hootsuite}}</a> --}}
{{! Houzz }}
{{!-- <a href="#">{{>icons/social/houzz}}</a> --}}
{{! Hulu }}
{{!-- <a href="#">{{>icons/social/hulu}}</a> --}}
{{! Humble Bundle }}
{{!-- <a href="#">{{>icons/social/humblebundle}}</a> --}}
{{! ICQ }}
{{!-- <a href="#">{{>icons/social/icq}}</a> --}}
{{! iFixit }}
{{!-- <a href="#">{{>icons/social/ifixit}}</a> --}}
{{! IMDB }}
{{!-- <a href="#">{{>icons/social/imdb}}</a> --}}
{{! Instagram }}
{{!-- <a href="#">{{>icons/social/instagram}}</a> --}}
{{! Instapaper }}
{{!-- <a href="#">{{>icons/social/instapaper}}</a> --}}
{{! Intercom }}
{{!-- <a href="#">{{>icons/social/intercom}}</a> --}}
{{! InVision }}
{{!-- <a href="#">{{>icons/social/invision}}</a> --}}
{{! JavaScript }}
{{!-- <a href="#">{{>icons/social/javascript}}</a> --}}
{{! Jira }}
{{!-- <a href="#">{{>icons/social/jira}}</a> --}}
{{! Joomla }}
{{!-- <a href="#">{{>icons/social/joomla}}</a> --}}
{{! jQuery }}
{{!-- <a href="#">{{>icons/social/jquery}}</a> --}}
{{! JSFiddle }}
{{!-- <a href="#">{{>icons/social/jsfiddle}}</a> --}}
{{! JustGiving }}
{{!-- <a href="#">{{>icons/social/justgiving}}</a> --}}
{{! Khan Academy }}
{{!-- <a href="#">{{>icons/social/khanacademy}}</a> --}}
{{! Kickstarter }}
{{!-- <a href="#">{{>icons/social/kickstarter}}</a> --}}
{{! Kik }}
{{!-- <a href="#">{{>icons/social/kik}}</a> --}}
{{! Ko-fi }}
{{!-- <a href="#">{{>icons/social/kofi}}</a> --}}
{{! Last.fm }}
{{!-- <a href="#">{{>icons/social/lastfm}}</a> --}}
{{! Line }}
{{!-- <a href="#">{{>icons/social/line}}</a> --}}
{{! Linkedin }}
{{!-- <a href="#">{{>icons/social/linkedin}}</a> --}}
{{! Livestream }}
{{!-- <a href="#">{{>icons/social/livestream}}</a> --}}
{{! Mailchimp }}
{{!-- <a href="#">{{>icons/social/mailchimp}}</a> --}}
{{! MakerBot }}
{{!-- <a href="#">{{>icons/social/makerbot}}</a> --}}
{{! MasterCard }}
{{!-- <a href="#">{{>icons/social/mastercard}}</a> --}}
{{! Mastodon }}
{{!-- <a href="#">{{>icons/social/mastodon}}</a> --}}
{{! Medium }}
{{!-- <a href="#">{{>icons/social/medium}}</a> --}}
{{! Meetup }}
{{!-- <a href="#">{{>icons/social/meetup}}</a> --}}
{{! Messenger }}
{{!-- <a href="#">{{>icons/social/messenger}}</a> --}}
{{! Micro.blog }}
{{!-- <a href="#">{{>icons/social/microblog}}</a> --}}
{{! .NET }}
{{!-- <a href="#">{{>icons/social/net}}</a> --}}
{{! Netlify }}
{{!-- <a href="#">{{>icons/social/netlify}}</a> --}}
{{! Netflix }}
{{!-- <a href="#">{{>icons/social/netflix}}</a> --}}
{{! Nintendo Switch }}
{{!-- <a href="#">{{>icons/social/nintendoswitch}}</a> --}}
{{! Notion }}
{{!-- <a href="#">{{>icons/social/notion}}</a> --}}
{{! npm }}
{{!-- <a href="#">{{>icons/social/npm}}</a> --}}
{{! NVIDIA }}
{{!-- <a href="#">{{>icons/social/nvidia}}</a> --}}
{{! Oculus }}
{{!-- <a href="#">{{>icons/social/oculus}}</a> --}}
{{! Odnoklassniki }}
{{!-- <a href="#">{{>icons/social/odnoklassniki}}</a> --}}
{{! Origin }}
{{!-- <a href="#">{{>icons/social/origin}}</a> --}}
{{! Overcast }}
{{!-- <a href="#">{{>icons/social/overcast}}</a> --}}
{{! PayPal }}
{{!-- <a href="#">{{>icons/social/paypal}}</a> --}}
{{! Patreon }}
{{!-- <a href="#">{{>icons/social/patreon}}</a> --}}
{{! Periscope }}
{{!-- <a href="#">{{>icons/social/periscope}}</a> --}}
{{! Pinboard }}
{{!-- <a href="#">{{>icons/social/pinboard}}</a> --}}
{{! Pingdom }}
{{!-- <a href="#">{{>icons/social/pingdom}}</a> --}}
{{! Pinterest }}
{{!-- <a href="#">{{>icons/social/pinterest}}</a> --}}
{{! Player.me }}
{{!-- <a href="#">{{>icons/social/playerme}}</a> --}}
{{! Plex }}
{{!-- <a href="#">{{>icons/social/plex}}</a> --}}
{{! Pocket }}
{{!-- <a href="#">{{>icons/social/pocket}}</a> --}}
{{! Podcasts }}
{{!-- <a href="#">{{>icons/social/podcasts}}</a> --}}
{{! ProcessWire }}
{{!-- <a href="#">{{>icons/social/processwire}}</a> --}}
{{! Product Hunt }}
{{!-- <a href="#">{{>icons/social/producthunt}}</a> --}}
{{! Proto.io }}
{{!-- <a href="#">{{>icons/social/protoio}}</a> --}}
{{! Python }}
{{!-- <a href="#">{{>icons/social/python}}</a> --}}
{{! Quantopian }}
{{!-- <a href="#">{{>icons/social/quantopian}}</a> --}}
{{! Quip }}
{{!-- <a href="#">{{>icons/social/quip}}</a> --}}
{{! Quora }}
{{!-- <a href="#">{{>icons/social/quora}}</a> --}}
{{! Raspberry Pi }}
{{!-- <a href="#">{{>icons/social/raspberrypi}}</a> --}}
{{! Riot }}
{{!-- <a href="#">{{>icons/social/riot}}</a> --}}
{{! Runkeeper }}
{{!-- <a href="#">{{>icons/social/runkeeper}}</a> --}}
{{! Redbubble }}
{{!-- <a href="#">{{>icons/social/redbubble}}</a> --}}
{{! Reddit }}
{{!-- <a href="#">{{>icons/social/reddit}}</a> --}}
{{! Sauce Labs }}
{{!-- <a href="#">{{>icons/social/saucelabs}}</a> --}}
{{! Sellfy }}
{{!-- <a href="#">{{>icons/social/sellfy}}</a> --}}
{{! Shopify }}
{{!-- <a href="#">{{>icons/social/shopify}}</a> --}}
{{! Skype }}
{{!-- <a href="#">{{>icons/social/skype}}</a> --}}
{{! Slack }}
{{!-- <a href="#">{{>icons/social/slack}}</a> --}}
{{! SlickPic }}
{{!-- <a href="#">{{>icons/social/slickpic}}</a> --}}
{{! Smashing Magazine }}
{{!-- <a href="#">{{>icons/social/smashingmagazine}}</a> --}}
{{! Snapchat }}
{{!-- <a href="#">{{>icons/social/snapchat}}</a> --}}
{{! Songkick }}
{{!-- <a href="#">{{>icons/social/songkick}}</a> --}}
{{! SoundCloud }}
{{!-- <a href="#">{{>icons/social/soundcloud}}</a> --}}
{{! SparkPost }}
{{!-- <a href="#">{{>icons/social/sparkpost}}</a> --}}
{{! Spotify }}
{{!-- <a href="#">{{>icons/social/spotify}}</a> --}}
{{! Squarespace }}
{{!-- <a href="#">{{>icons/social/squarespace}}</a> --}}
{{! Strava }}
{{!-- <a href="#">{{>icons/social/strava}}</a> --}}
{{! Stack Overflow }}
{{!-- <a href="#">{{>icons/social/stackoverflow}}</a> --}}
{{! Steam }}
{{!-- <a href="#">{{>icons/social/steam}}</a> --}}
{{! Stripe }}
{{!-- <a href="#">{{>icons/social/stripe}}</a> --}}
{{! TED }}
{{!-- <a href="#">{{>icons/social/ted}}</a> --}}
{{! Tencent QQ }}
{{!-- <a href="#">{{>icons/social/tencentqq}}</a> --}}
{{! Telegram }}
{{!-- <a href="#">{{>icons/social/telegram}}</a> --}}
{{! The Mighty }}
{{!-- <a href="#">{{>icons/social/themighty}}</a> --}}
{{! TikTok }}
{{!-- <a href="#">{{>icons/social/tiktok}}</a> --}}
{{! Tinder }}
{{!-- <a href="#">{{>icons/social/tinder}}</a> --}}
{{! Trakt }}
{{!-- <a href="#">{{>icons/social/trakt}}</a> --}}
{{! Trello }}
{{!-- <a href="#">{{>icons/social/trello}}</a> --}}
{{! Tumblr }}
{{!-- <a href="#">{{>icons/social/tumblr}}</a> --}}
{{! Twilio }}
{{!-- <a href="#">{{>icons/social/twilio}}</a> --}}
{{! Twitch }}
{{!-- <a href="#">{{>icons/social/twitch}}</a> --}}
{{! Twoo }}
{{!-- <a href="#">{{>icons/social/twoo}}</a> --}}
{{! Udacity }}
{{!-- <a href="#">{{>icons/social/udacity}}</a> --}}
{{! Udemy }}
{{!-- <a href="#">{{>icons/social/udemy}}</a> --}}
{{! Unsplash }}
{{!-- <a href="#">{{>icons/social/unsplash}}</a> --}}
{{! Upwork }}
{{!-- <a href="#">{{>icons/social/upwork}}</a> --}}
{{! Vimeo }}
{{!-- <a href="#">{{>icons/social/vimeo}}</a> --}}
{{! Vine }}
{{!-- <a href="#">{{>icons/social/vine}}</a> --}}
{{! Visa }}
{{!-- <a href="#">{{>icons/social/visa}}</a> --}}
{{! vk }}
{{!-- <a href="#">{{>icons/social/vk}}</a> --}}
{{! VSCO }}
{{!-- <a href="#">{{>icons/social/vsco}}</a> --}}
{{! WhatsApp }}
{{!-- <a href="#">{{>icons/social/whatsapp}}</a> --}}
{{! WeChat }}
{{!-- <a href="#">{{>icons/social/wechat}}</a> --}}
{{! Weibo }}
{{!-- <a href="#">{{>icons/social/weibo}}</a> --}}
{{! Wikipedia }}
{{!-- <a href="#">{{>icons/social/wikipedia}}</a> --}}
{{! Wire }}
{{!-- <a href="#">{{>icons/social/wire}}</a> --}}
{{! WordPress }}
{{!-- <a href="#">{{>icons/social/wordpress}}</a> --}}
{{! Xbox }}
{{!-- <a href="#">{{>icons/social/xbox}}</a> --}}
{{! YouTube }}
{{!-- <a href="#">{{>icons/social/youtube}}</a> --}}
{{! YouTube Music}}
{{!-- <a href="#">{{>icons/social/youtubemusic}}</a> --}}
{{! Zendesk }}
{{!-- <a href="#">{{>icons/social/zendesk}}</a> --}}
