{{#if @site.members_enabled}}
{{^if @member}}
<div class="footer-subscribe blog-flex blog-detail-subscribe">
	<h3 class="blog-detail-hover">{{{t "<a href='{site}/subscribe/'>Subscribe</a> to get updates" site=@site.url}}}</h3>
	{{>icons/blog/newsletter}}
</div>
{{/if}}
{{/if}}